.screenshot__wrapper
	.project-profitability
		.desktop__title
			.desktop__title__button
			.desktop__title__button
			.desktop__title__button
			.desktop__title__name
		.desktop__body
			.graph-dropdown
				.graph-dropdown__label Insights
				.graph-dropdown__options
					.graph-dropdown__options__main Gnet Inc.
			.project-graph
				.project-graph__section
					.project-graph__section__line.green
					.project-graph__section__line.yellow
					.project-graph__section__date
						span Mar
						span.date 2018
				.project-graph__section
					.project-graph__section__line.green
					.project-graph__section__line.yellow
					.project-graph__section__date
						span Apr
						span.date 2018
				.project-graph__section
					.project-graph__section__line.green
					.project-graph__section__line.yellow
					.project-graph__section__date
						span July
						span.date 2018
				.project-graph__section
					.project-graph__popup__line
					.project-graph__popup
						p
							strong August 2018
						.project-graph__popup__item
							.insight-type 
								span.bullet-green &#x25CF; 
								| Gnet Income
							.insight-total 4,221,359,821 USD
						.project-graph__popup__item
							.insight-type 
								span.bullet-yellow &#x25CF; 
								| Gnet Cost
							.insight-total 61,200,956 USD
							
						
					.project-graph__section__line.green
					.project-graph__section__line.yellow
					.project-graph__section__date
						span Aug
						span.date 2018
				.project-graph__section
					.project-graph__section__line.green
					.project-graph__section__line.yellow
					.project-graph__section__date
						span Sep
						span.date 2018

aside.context
	.explanation
		.js-replay &#9658; Replay animation
		| © Copyright 2018 Gnet Insights
		br
		
footer
	a(href="	https://goo.gl/7c2XSa" target="_blank")
		i.icon-social-twitter.icons
	a(href="	https://goo.gl/NhmCnT" target="_blank")
		i.icon-social-instagram.icons
	